<div>
  <h1>Content Children and Query List</h1>
  <app-auth-form (submitted)="createUser($event)">
    <h3>Create Account</h3>
    <button type="submit">
      Join Us!
    </button>
  </app-auth-form>
  <app-auth-form (submitted)="loginUser($event)">
    <h3>Login</h3>
    <!-- Adding many auth remember components, used by content children and query list-->
    <app-auth-remember (checked)="rememberUser($event)"></app-auth-remember>
    <app-auth-remember (checked)="rememberUser($event)"></app-auth-remember>
    <app-auth-remember (checked)="rememberUser($event)"></app-auth-remember>
    <button type="submit">
      Login
    </button>
  </app-auth-form>
</div>
